.frame{
    width: 250px;
    height: 350px;
    border: 15px solid rgba(107, 92, 8, 0.82);
    border-radius: 15px 45px 75px 125px;
    margin-left:150px;
    margin-top: 50px;
    background-color: #9bdfb4;
}

.buttonEditNumber{
    margin-top: 30px;
    width: 350px;
    height: 80px;
    border-radius: 35px 35px 35px 5px;
    border: 4px solid rgb(219, 192, 8);
    background-color: #254d4d;
    color: #dd6b11;
    font-size: 30px;
    box-shadow : 0px 10px 30px
}
.buttonEditNumber:hover{
    border: 4px solid rgb(247, 215, 2);
    background-color: #346565;
    color: #f16e06;
}

.blokValueAndInput{
    margin-left:15px;
    margin-top: 25px;
    font-size: 30px;
}

.inputMin{
    width: 60px;
    height: 30px;
    border-radius:10px;
    background-color: #254d4d;
    color: #d5eadd;
    margin-left:10px;
    font-size: 40px;
    font-weight: bold;
}

.inputMax{
    width: 57px;
    height: 30px;
    border-radius:10px;
    background-color: #254d4d;
    color: #d5eadd;
    margin-left:10px;
    font-size: 40px;
    font-weight: bold;
}